services:
  web:
    build: .
    container_name: django_app
    # Internal exposure only, no need to change this
    expose:
      - 8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    depends_on:
      db:
        condition: service_healthy
        restart: true
    env_file:
      - .env

  db:
    image: postgres:17
    # CHANGE 2: Map Host 9099 -> Container 5432
    # This puts your DB access in your desired range
    ports:
      - 9099:5432
    container_name: postgres_db
    volumes:
      - postgres_db:/var/lib/postgresql/data/
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  frontend:
    image: nginx:latest
    # CHANGE 3: Map Host 9090 -> Container 9090
    ports:
      - 9090:9090
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - static_volume:/static:ro
      - media_volume:/media:ro
    depends_on:
      - web

volumes:
  postgres_db:
  static_volume:
  media_volume: